.post-first {
    min-height: 75vh;
    width: 98.7vw;
    background-image: url(images/hh-6.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.post {
    color:blue;
} 