

body {
    background-color: $color-main;
    position: relative; 
}

.hero {
    position: relative;
    height: 95vh;

    &-holder {
        background-image: url(images/hh-hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 95vh;
        width: 100%;
        position: absolute;

        &__header {
            padding-top: 30%;
            padding-left: 10%;
            font-size: 4rem;
        }
    }
    
}

html {
    margin-top: -1rem !important;
}
 



